{#def extra="" #}
{#
  Centered, max-width page-body wrapper. Usage:
    <PageContainer>
      <h1>Page heading</h1>
    </PageContainer>
#}
<div class="max-w-[720px] mx-auto px-24 py-48 {{ extra }}">{{ content }}</div>
